.hero {
    display: flex;
    padding: 100px;
}

.hero-profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 250px;
    margin-right: 50px;
    border: 20px solid white;
    box-shadow: 0 0 25px #ccc;
}

.hero h2 {
    font-weight: 300;
    color: #a9a9a9;
}