*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-family: "Poppins", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: capitalize;
}

h1 {
	font-size: 48px;
	line-height: 50px;
	font-weight: 600;
	margin-bottom: 10px;
}

h2 {
	font-size: 16px;
	margin-bottom: 20px;
}

p {
	font-size: 14px;
	line-height: 24px;
}

button {
	border: 2px solid #aaa;
	border-radius: 100px;
	padding: 10px 25px;
	cursor: pointer;
	transition: background-color .3s ease-out,
				color .3s ease-out;
}

button:hover {
	background-color: #aaa;
	color: #f5f5f5;
}

button.primary {
	border-color: #30ca95;
}

button.primary:hover {
	background-color: #30ca95;
}