:root {
	--primary: #30ca95;
	--ui-dark: #aaa;
	--ui-accent: #e5e5e5;
	--ui-light: #fff;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Poppins", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: capitalize;
	font-weight: 600;
}

h1 {
	font-size: 48px;
	line-height: 50px;
	font-weight: 600;
	margin-bottom: 10px;
}

h2 {
	font-size: 16px;
	margin-bottom: 20px;
}

h3 {
	font-size: 21px;
}

p {
	font-size: 14px;
	line-height: 24px;
}

button {
	background: var(--ui-light);
	border: 2px solid var(--ui-dark);
	border-radius: 100px;
	padding: 10px 25px;
	cursor: pointer;
	transition: background-color .3s ease-out,
				color .3s ease-out;
}

button:hover {
	background-color: var(--ui-dark);
	color: var(--ui-light);
}

button.primary {
	border-color: var(--primary);
}

button.primary:hover {
	background-color: var(--primary);
}

/* Utilities */
.row {
	display: flex;
	flex-wrap: wrap;
}

.row .column {
	flex: 0 0 initial;
}

/* Sections */
.site-section header {
	margin: 50px 0 30px;
}

.site-section h3 {
	display: inline-block;
	border-bottom: 1px solid var(--ui-accent);
	position: relative;
	margin: 0;
	padding-right: 25px;
	line-height: 40px;
}
.site-section h3:after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	background: var(--primary);
	height: 3px;
	width: 45px;
}

/* Testimonials */
.testimonial {
	position: relative;
	width: 100%;
	border: 2px solid var(--ui-accent);
	border-radius: 8px;
}

.testimonial-logo {
	position: absolute;
	width: 75px;
	height: 75px;
	top: -38px;
	left: -38px;
	border-radius: 75px;
}

.testimonial-content {
	padding: 25px 30px 25px 50px;
}

.testimonial .quote {
	font-style: italic;
}

.testimonial-name, .testimonial-company {
	line-height: 16px;
}

.testimonial-name {
	font-weight: 600;
	font-size: 14px;
}

.testimonial-company {
	font-weight: 300;
	font-size: 12px;
	color: var(--ui-dark);
}

/* List */
.fancy-list {
	list-style: none;
	padding-left: 0;
}
.fancy-list li {
	width: 50%;
	margin-bottom: 15px;
	padding-right: 50px;
	display: flex;
}
.fancy-list h4 {
	margin-top: 0;
}
.fancy-list .icon-container {
	width: 75px;
	flex-shrink: 0;
}
.fancy-list i {
	font-size: 36px;
	color: var(--primary);
}