/**********
 * Global *
 *********/

/* Variables */
:root {
	--primary: #30ca95;
	--ui-dark: #aaa;
	--ui-accent: #e5e5e5;
	--ui-light: #fff;
	--standard-shadow: 0 0 25px #ccc;
}

/* Reset box sizing */
*, *::before, *::after {
	box-sizing: border-box;
}

/* Universal selectors*/
html, body {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Poppins", Helvetica, sans-serif;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: capitalize;
	font-weight: 600;
}

h1 {
	font-size: 48px;
	line-height: 50px;
	font-weight: 600;
	margin-bottom: 10px;
}

h2 {
	font-size: 16px;
	margin-bottom: 20px;
}

h3 {
	font-size: 21px;
}

p {
	font-size: 14px;
	line-height: 24px;
}

button {
	background: var(--ui-light);
	border: 2px solid var(--ui-dark);
	border-radius: 100px;
	padding: 10px 25px;
	cursor: pointer;
	transition: background-color .3s ease-out,
				color .3s ease-out;
}

button:hover {
	background-color: var(--ui-dark);
	color: var(--ui-light);
}

button.primary {
	border-color: var(--primary);
}

button.primary:hover {
	background-color: var(--primary);
}

/*************
 * Utilities *
 ************/

/* Rows and columns */
.row {
	display: flex;
	flex-wrap: wrap;
}

.row .column {
	flex: 0 0 initial;
}

.row.justify-around {
	justify-content: space-around;
}

.row.justify-between {
	justify-content: space-between;
}

/* Site containers */
.container {
	margin: 0 auto;
}

@media (min-width: 600px) {
	.container {
		width: 400px;
	}
}

@media (min-width: 900px) {
	.container {
		width: 600px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 900px;
	}
}

@media (min-width: 1600px) {
	.container {
		width: 1200px;
	}
}

/***********
 * Widgets *
 **********/

/* Heroes */
.hero {
	display: flex;
	padding: 100px;
}

.hero-profile-pic {
	width: 400px;
	height: 400px;
	border-radius: 250px;
	margin-right: 50px;
	border: 20px solid white;
	box-shadow: var(--standard-shadow);
}

.hero h2 {
	font-weight: 300;
	color: #a9a9a9;
}

/* Sections */
.site-section {
	padding-bottom: 25px;
}

.site-section header {
	margin: 50px 0 30px;
}

.site-section h3 {
	display: inline-block;
	border-bottom: 1px solid var(--ui-accent);
	position: relative;
	margin: 0;
	padding-right: 25px;
	line-height: 40px;
}
.site-section h3:after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	background: var(--primary);
	height: 3px;
	width: 45px;
}

/* Testimonials */
.testimonial {
	position: relative;
	width: 100%;
	border: 2px solid var(--ui-accent);
	border-radius: 8px;
}

.testimonial-logo {
	position: absolute;
	width: 75px;
	height: 75px;
	top: -38px;
	left: -38px;
	border-radius: 75px;
}

.testimonial-content {
	padding: 25px 30px 25px 50px;
}

.testimonial .quote {
	font-style: italic;
}

.testimonial-name, .testimonial-company {
	line-height: 16px;
}

.testimonial-name {
	font-weight: 600;
	font-size: 14px;
}

.testimonial-company {
	font-weight: 300;
	font-size: 12px;
	color: var(--ui-dark);
}

/* Employment */
.employment img {
	height: 50px;
	filter: grayscale(100%);
}
.employment img:hover {
	filter: unset;
}

/* Lists */
.fancy-list, .social-links {
	list-style: none;
	padding-left: 0;
}
.fancy-list li {
	width: 50%;
	margin-bottom: 15px;
	padding-right: 50px;
	display: flex;
}
.fancy-list h4 {
	margin-top: 0;
}
.fancy-list .icon-container {
	width: 75px;
	flex-shrink: 0;
}
.fancy-list i {
	font-size: 36px;
	color: var(--primary);
}
.social-links li {
	margin-right: 18px;
}
.social-links i {
	font-size: 24px;
}
.social-links a {
	color: var(--ui-dark);
}
.social-links a:hover {
	color: var(--primary);
}

/* Site footer */
.site-footer {
	padding: 25px 0;
	border-top: 2px solid var(--ui-accent);
}
.disclaimer {
	font-weight: 300;
	font-size: 10px;
	font-style: italic;
	text-align: right;
}