.container {
    margin: 0 auto;
}

@media (min-width: 600px) {
    .container {
        width: 400px;
    }
}

@media (min-width: 900px) {
    .container {
        width: 600px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

@media (min-width: 1600px) {
	.container {
		width: 1200px;
	}
}